# Challenge

### Import Pandas

In [1]:
import pandas as pd

### Read CSV

In [3]:
# when you perform .dropna() it convert the integers to floats ü§∑üèª‚Äç‚ôÇÔ∏è
employees = pd.read_csv("emp_challenge.csv").dropna(how="all")

### Head

In [4]:
# called the head method to see what were working with
employees.head(3)

   id first_name last_name department  gender
0   1        Eal      Skip         HR    Male
1   2   Faustine  Brislawn  Marketing  Female
2   3  Nickolaus   Wiersma  Marketing  Female

### Change data types using the `astype()` method

In [5]:
# first call the data types for our DataFrame
employees.dtypes

id             int64
first_name    object
last_name     object
department    object
gender        object
dtype: object

### Get info with the `info()` method

In [6]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          100 non-null    int64
 1   first_name  100 non-null    object
 2   last_name   100 non-null    object
 3   department  100 non-null    object
 4   gender      100 non-null    object
dtypes: int64(1), object(4)
memory usage: 4.0+ KB

### Change data types using the `astype()` method

In [7]:
# optimize data types
employees["department"] = salaries["department"].astype("category")
employees["department"]

0            HR
1     Marketing
2     Marketing
3            HR
4         Sales
        ...
95    Marketing
96    Marketing
97    Marketing
98           HR
99        Sales
Name: department, Length: 100, dtype: category
Categories (4, object): ['Engineering', 'HR', 'Marketing', 'Sales']

In [8]:
# optimize data types
employees["gender"] = salaries["gender"].astype("category")
employees["gender"]

0            Male
1          Female
2          Female
3            Male
4            Male
         ...
95         Female
96           Male
97           Male
98           Male
99    Genderqueer
Name: gender, Length: 100, dtype: category
Categories (6, object): ['Agender', 'Female', 'Genderfluid', 'Genderqueer', 'Male', 'Polygender']

In [9]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          100 non-null    int64
 1   first_name  100 non-null    object
 2   last_name   100 non-null    object
 3   department  100 non-null    category
 4   gender      100 non-null    category
dtypes: category(2), int64(1), object(2)
memory usage: 3.1+ KB