# `head()` & `tail()`

### Import Pandas

In [7]:
# Import pandas
import pandas as pd
from pathlib import Path

### Import Series as `a_names`

In [11]:
# read csv and assign to Series as: a_names
path = Path("C:/Users/alouden01/Documents/python-pandas-for-data-manipulation/starter_files/skill_03_pandas_series_intro")
file_name = 'animal_names.csv'
a_names = pd.read_csv(path/file_name,usecols=['country']).squeeze()

In [12]:
# return Series
print(a_names)

0       Azerbaijan
1       Kazakhstan
2            China
3      Philippines
4         Cambodia
          ...
995          China
996          China
997         Poland
998         Angola
999         Canada
Name: country, Length: 1000, dtype: object

### `head()`

In [13]:
# return first 5 rows
a_names.head()

0     Azerbaijan
1     Kazakhstan
2          China
3    Philippines
4       Cambodia
Name: country, dtype: object

In [14]:
# return first 10 rows
a_names.head(10)

0        Azerbaijan
1        Kazakhstan
2             China
3       Philippines
4          Cambodia
5            Russia
6       North Korea
7    Czech Republic
8             China
9             China
Name: country, dtype: object

### `tail()`

In [15]:
# retutn last five rows
a_names.tail()

995     China
996     China
997    Poland
998    Angola
999    Canada
Name: country, dtype: object

In [16]:
# return last ten rows
a_names.tail(10)

990     Thailand
991       Cyprus
992    Indonesia
993        China
994      Myanmar
995        China
996        China
997       Poland
998       Angola
999       Canada
Name: country, dtype: object