# Optimizing DataFrames

### Import Pandas

In [25]:
# import pandas
import pandas as pd
from pathlib import Path
path = Path('C:/Users/alouden01/Documents/python-pandas-for-data-manipulation/starter_files/skill_09_filtering_broadcasting/employee.csv')

emp = pd.read_csv(path)
emp.head()

  first_name   last_name  salary  start_date    gender  remote         team
0    Haleigh  Calderhead  334473    5/9/2020       NaN    True   management
1    Coretta      McEvon  637457   3/20/2020      Male   False  engineering
2   Clarette     Tarbett  977749  11/22/2020   Agender    True  engineering
3      Jaime  Gianneschi  253523    9/2/2020  Bigender   False    marketing
4      Ediva     Skelton  325185    2/4/2020    Female    True    marketing

### Employee data

In [26]:
# df = pd.read_csv("employee.csv", parse_dates = ["start_date"])
emp = pd.read_csv(path, parse_dates=["start_date"])

# emp = pd.read_csv(path)
emp.head()

  first_name   last_name  salary start_date    gender  remote         team
0    Haleigh  Calderhead  334473 2020-05-09       NaN    True   management
1    Coretta      McEvon  637457 2020-03-20      Male   False  engineering
2   Clarette     Tarbett  977749 2020-11-22   Agender    True  engineering
3      Jaime  Gianneschi  253523 2020-09-02  Bigender   False    marketing
4      Ediva     Skelton  325185 2020-02-04    Female    True    marketing

### Head

In [27]:
# called the head method to see what were working with
emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  1000 non-null   object
 1   last_name   1000 non-null   object
 2   salary      1000 non-null   int64
 3   start_date  976 non-null    datetime64[ns]
 4   gender      966 non-null    object
 5   remote      1000 non-null   bool
 6   team        1000 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(1), object(4)
memory usage: 48.0+ KB

### Get Info

In [28]:
# fisrt, return some basic info about your data, some null data in start_date and gender
# Date is a string

### Convert String Dates using the `datetime()` method

In [29]:
# pass in the start_date column

In [30]:
# the changes are not permanent so the start_date is still a string

### Overwrite the original DataFrame with read_cvs()

In [31]:
emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  1000 non-null   object
 1   last_name   1000 non-null   object
 2   salary      1000 non-null   int64
 3   start_date  976 non-null    datetime64[ns]
 4   gender      966 non-null    object
 5   remote      1000 non-null   bool
 6   team        1000 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(1), object(4)
memory usage: 48.0+ KB

### Optimization

In [32]:
# make gender a category and not an object(string)
emp['gender'] = emp['gender'].astype('category')

In [33]:
emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  1000 non-null   object
 1   last_name   1000 non-null   object
 2   salary      1000 non-null   int64
 3   start_date  976 non-null    datetime64[ns]
 4   gender      966 non-null    category
 5   remote      1000 non-null   bool
 6   team        1000 non-null   object
dtypes: bool(1), category(1), datetime64[ns](1), int64(1), object(3)
memory usage: 41.5+ KB

In [34]:
# reassign the column to save the changes
emp['team'] = emp['team'].astype('category')
emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   first_name  1000 non-null   object
 1   last_name   1000 non-null   object
 2   salary      1000 non-null   int64
 3   start_date  976 non-null    datetime64[ns]
 4   gender      966 non-null    category
 5   remote      1000 non-null   bool
 6   team        1000 non-null   category
dtypes: bool(1), category(2), datetime64[ns](1), int64(1), object(2)
memory usage: 34.9+ KB

In [35]:
# check out the optimization savings!