# Challenge

In [1]:
# check for inclusion of 34 in the following list
[21, 34, 55]

[21, 34, 55]

In [4]:
# What is the length of the following string?
len("pandas")

6

In [7]:
# Import pandas
import pandas as pd

In [14]:
# read the TSLA.csv file save it to variable: s
s = pd.read_csv('TSLA.csv').squeeze("columns")

In [15]:
# return the first 5 rows
s.head()

0    23.89
1    23.83
2    21.96
3    19.20
4    16.11
Name: Price, dtype: float64

In [17]:
s.value_counts()

27.42     4
20.72     3
27.12     3
26.50     3
219.58    3
         ..
235.84    1
240.04    1
233.98    1
237.79    1
780.00    1
Name: Price, Length: 2225, dtype: int64