# Code Challenge

In [2]:
# import pandas
import pandas as pd

In [3]:
# read animal_names.csv CSV
# use scientific_names column for values
# squeeze the DataFrame into a Series
a_names = pd.read_csv('animal_names.csv', usecols=['scientific_name']).squeeze("columns")

In [4]:
# sort values in ascending order
a_names.sort_values()

265              Acanthaster planci
22                 Acinynox jubatus
844    Acrantophis madagascariensis
680    Acrantophis madagascariensis
372    Acrantophis madagascariensis
                   ...
388                     unavailable
91                      unavailable
283                     unavailable
475                     unavailable
908                     unavailable
Name: scientific_name, Length: 1000, dtype: object

In [5]:
# reset index 
a_names.sort_index()

0            Cercatetus concinnus
1                Lutra canadensis
2                  Alopex lagopus
3                Macropus eugenii
4      Calyptorhynchus magnificus
                  ...
995            Anas platyrhynchos
996              Isoodon obesulus
997                   Upupa epops
998                 Ratufa indica
999              Columba palumbus
Name: scientific_name, Length: 1000, dtype: object