# Find duplicates with `.duplicated()`

### Import Pandas

In [2]:
# import pandas
import pandas as pd
from pathlib import Path
path = Path('C:/Users/alouden01/Documents/python-pandas-for-data-manipulation/starter_files/skill_10_filtering_duplicates/employee.csv')

### Read CSV

In [3]:
# read csv and parse the date column
emp = pd.read_csv(path, parse_dates=['start_date'])

In [4]:
# sort values by first_name
emp.sort_values('first_name', inplace=True)

In [5]:
# by default does not return first duplicate instance

In [19]:
# keep= "first" | "last" | False
all_dupes = emp['first_name'].duplicated(keep='last')
all_dupes

872     True
619    False
74     False
535    False
898    False
       ...
550    False
540    False
675    False
783     True
476    False
Name: first_name, Length: 1000, dtype: bool

In [20]:
emp[all_dupes].head()

# clarinda_mask = emp['first_name'] == 'Clarinda'
# dup_mask = emp['first_name'].duplicated()
# # emp[clarinda_mask]
# clar_mask = emp['first_name'].str.contains('Clar', regex=False)
# emp[clar_mask]

,first_name,last_name,salary,start_date,gender,remote,team
872,Aaron,Caddens,583629,2020-10-05,Female,True,marketing
371,Adrianne,Fishbourne,530451,2020-07-04,Polygender,True,marketing
142,Aluino,Kubal,413941,2020-07-24,Female,True,management
978,Ariana,Glendza,221789,2020-06-03,Polygender,False,data analytics
732,Arin,Swannick,728101,2021-01-11,Female,False,engineering

In [8]:
# reverse values with ~  tilde

In [9]:
# returns unique values ðŸŽ‰