# `.date_range( )` part 2

In [1]:
import pandas as pd

### `.date_range( )` is like a date ruler
You can set a start, stop, and interval frequency to create a range of times or dates. You can also omit the `end=` parameter and instead use `periods=` to set the number of results you want to return.

```python
pandas.date_range(start=your_start_time,
                  periods=how_many_results,
                 freq=your_time_intervals)
```

In [2]:
import calendar
print(calendar.month(2024, 12))

   December 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

### Create a 7 day week

In [9]:
# B = Business day
pd.date_range('Dec 1 2024' , periods= 7, freq='B')

DatetimeIndex(['2024-12-02', '2024-12-03', '2024-12-04', '2024-12-05',
               '2024-12-06', '2024-12-09', '2024-12-10'],
              dtype='datetime64[ns]', freq='B')

In [10]:
# start on January 1st, 2020 and create 7(periods) days(freq)
pd.date_range('jan 1 2020', periods=7)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [13]:
print(calendar.month(24,1))

     January 24
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

### Create a 5 day business week

In [14]:
pd.date_range('jan 1 2024',periods=9,freq='B')

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-08', '2024-01-09', '2024-01-10',
               '2024-01-11'],
              dtype='datetime64[ns]', freq='B')

In [ ]:
# pd.date_range(start = "2020-01-01", periods = 5, freq = "D")
# mind the business day start day (can't start on a weekend)⚠️

In [ ]:
# Can't start on Saturday the 4th so starts on Monday the 6th

### You can also use M, MS, A, H, 8H

In [15]:
print(calendar.month(24,1))

     January 24
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [21]:
# Months
pd.date_range('jan 1st 2024', periods=7, freq='ms')

DatetimeIndex([       '2024-01-01 00:00:00', '2024-01-01 00:00:00.001000',
               '2024-01-01 00:00:00.002000', '2024-01-01 00:00:00.003000',
               '2024-01-01 00:00:00.004000', '2024-01-01 00:00:00.005000',
               '2024-01-01 00:00:00.006000'],
              dtype='datetime64[ns]', freq='ms')

# Month start

In [24]:
# Years
pd.date_range('april 22 1981', periods=44, freq='Y')

C:\Users\alouden01\AppData\Local\Temp\ipykernel_21732\3156790709.py:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  pd.date_range('april 22 1981', periods=44, freq='Y')

DatetimeIndex(['1981-12-31', '1982-12-31', '1983-12-31', '1984-12-31',
               '1985-12-31', '1986-12-31', '1987-12-31', '1988-12-31',
               '1989-12-31', '1990-12-31', '1991-12-31', '1992-12-31',
               '1993-12-31', '1994-12-31', '1995-12-31', '1996-12-31',
               '1997-12-31', '1998-12-31', '1999-12-31', '2000-12-31',
               '2001-12-31', '2002-12-31', '2003-12-31', '2004-12-31',
               '2005-12-31', '2006-12-31', '2007-12-31', '2008-12-31',
               '2009-12-31', '2010-12-31', '2011-12-31', '2012-12-31',
               '2013-12-31', '2014-12-31', '2015-12-31', '2016-12-31',
               '2017-12-31', '2018-12-31', '2019-12-31', '2020-12-31',
               '2021-12-31', '2022-12-31', '2023-12-31', '2024-12-31'],
              dtype='datetime64[ns]', freq='YE-DEC')

In [33]:
# Hours
pd.date_range('april 22 1981 12:23:00', 'today', freq='BH')

C:\Users\alouden01\AppData\Local\Temp\ipykernel_21732\4286931072.py:2: FutureWarning: 'BH' is deprecated and will be removed in a future version, please use 'bh' instead.
  pd.date_range('april 22 1981 12:23:00', 'today', freq='BH')

DatetimeIndex(['1981-04-22 12:23:00', '1981-04-22 13:23:00',
               '1981-04-22 14:23:00', '1981-04-22 15:23:00',
               '1981-04-22 16:23:00', '1981-04-23 09:23:00',
               '1981-04-23 10:23:00', '1981-04-23 11:23:00',
               '1981-04-23 12:23:00', '1981-04-23 13:23:00',
               ...
               '2024-12-31 15:23:00', '2024-12-31 16:23:00',
               '2025-01-01 09:23:00', '2025-01-01 10:23:00',
               '2025-01-01 11:23:00', '2025-01-01 12:23:00',
               '2025-01-01 13:23:00', '2025-01-01 14:23:00',
               '2025-01-01 15:23:00', '2025-01-01 16:23:00'],
              dtype='datetime64[ns]', length=91205, freq='bh')

In [36]:
pd.date_range(start = 'jan 1 2025', end = 'jan 2 2025', freq= 'min')

DatetimeIndex(['2025-01-01 00:00:00', '2025-01-01 00:01:00',
               '2025-01-01 00:02:00', '2025-01-01 00:03:00',
               '2025-01-01 00:04:00', '2025-01-01 00:05:00',
               '2025-01-01 00:06:00', '2025-01-01 00:07:00',
               '2025-01-01 00:08:00', '2025-01-01 00:09:00',
               ...
               '2025-01-01 23:51:00', '2025-01-01 23:52:00',
               '2025-01-01 23:53:00', '2025-01-01 23:54:00',
               '2025-01-01 23:55:00', '2025-01-01 23:56:00',
               '2025-01-01 23:57:00', '2025-01-01 23:58:00',
               '2025-01-01 23:59:00', '2025-01-02 00:00:00'],
              dtype='datetime64[ns]', length=1441, freq='min')

In [39]:
pd.date_range('jan 1 2025 8:42', 'jan 2 2025 8:42', freq='s')

DatetimeIndex(['2025-01-01 08:42:00', '2025-01-01 08:42:01',
               '2025-01-01 08:42:02', '2025-01-01 08:42:03',
               '2025-01-01 08:42:04', '2025-01-01 08:42:05',
               '2025-01-01 08:42:06', '2025-01-01 08:42:07',
               '2025-01-01 08:42:08', '2025-01-01 08:42:09',
               ...
               '2025-01-02 08:41:51', '2025-01-02 08:41:52',
               '2025-01-02 08:41:53', '2025-01-02 08:41:54',
               '2025-01-02 08:41:55', '2025-01-02 08:41:56',
               '2025-01-02 08:41:57', '2025-01-02 08:41:58',
               '2025-01-02 08:41:59', '2025-01-02 08:42:00'],
              dtype='datetime64[ns]', length=86401, freq='s')

In [44]:
len(pd.date_range(start = 'april 22 1981', end='today', freq='D'))*8 / 24 / 365

14.577168949771691