# The `.dt` accessor
Much like the `.str` prefix, `.dt` works in similarly to return attribute from Datetime.

In [1]:
import pandas as pd

### Create a date range to access some attributes: `dates`

In [2]:
dates = pd.date_range('Jan 1st 2020', 'Dec 31st 2020')

### Create a Series

In [3]:
date_series = pd.Series(dates)

In [7]:
date_series

0     2020-01-01
1     2020-01-02
2     2020-01-03
3     2020-01-04
4     2020-01-05
         ...
361   2020-12-27
362   2020-12-28
363   2020-12-29
364   2020-12-30
365   2020-12-31
Length: 366, dtype: datetime64[ns]

In [6]:
# check out the attribute available with TAB
date_series.dt.day_name()

0      Wednesday
1       Thursday
2         Friday
3       Saturday
4         Sunday
         ...
361       Sunday
362       Monday
363      Tuesday
364    Wednesday
365     Thursday
Length: 366, dtype: object

In [13]:
# date_series.day
date_series.dt.day

0       1
1       2
2       3
3       4
4       5
       ..
361    27
362    28
363    29
364    30
365    31
Length: 366, dtype: int32

In [18]:
date_series.dt.days_in_month[::15]

0      31
15     31
30     31
45     29
60     31
75     31
90     31
105    30
120    30
135    31
150    31
165    30
180    30
195    31
210    31
225    31
240    31
255    30
270    30
285    31
300    31
315    30
330    30
345    31
360    31
dtype: int32

In [19]:
# make a mask of quarter starts
mask = date_series.dt.is_quarter_start

In [20]:
date_series[mask]

0     2020-01-01
91    2020-04-01
182   2020-07-01
274   2020-10-01
dtype: datetime64[ns]

In [22]:
mask = date_series.dt.is_month_start
print(f'{date_series[mask].dt.days_in_month} {date_series[mask].dt.month_name()}')

0      31
31     29
60     31
91     30
121    31
152    30
182    31
213    31
244    30
274    31
305    30
335    31
dtype: int32 0        January
31      February
60         March
91         April
121          May
152         June
182         July
213       August
244    September
274      October
305     November
335     December
dtype: object

In [24]:
date_series.dt.isocalendar().week

0       1
1       1
2       1
3       1
4       1
       ..
361    52
362    53
363    53
364    53
365    53
Name: week, Length: 366, dtype: UInt32