# Inplace Mutation `inplace=`

### Import Pandas

In [19]:
# Import pandas
import pandas as pd

### Read CSV as Series

In [37]:
from pathlib import Path
path = Path('C:/Users/alouden01/Documents/python-pandas-for-data-manipulation/starter_files/skill_04_series_attributes_methods/animal_names.csv')
#a_names = pd.read_csv(path, usecols=['scientific_name']).squeeze('columns')

a_names: pd.Series = pd.read_csv(path, usecols=['scientific_name']).squeeze('columns')
#a_names = pd.read_csv(path, usecols=['scientific_name'])['scientific_name']

In [38]:
a_names.dtype
type(a_names)
a_names.sort_values(ascending=False)

93                      unavailable
178                     unavailable
91                      unavailable
627                     unavailable
791                     unavailable
                   ...
844    Acrantophis madagascariensis
680    Acrantophis madagascariensis
372    Acrantophis madagascariensis
22                 Acinynox jubatus
265              Acanthaster planci
Name: scientific_name, Length: 1000, dtype: object

### Sort by Values `sort_values()`
help(a_names)

In [22]:
a_names.sort_values()

265              Acanthaster planci
22                 Acinynox jubatus
844    Acrantophis madagascariensis
680    Acrantophis madagascariensis
372    Acrantophis madagascariensis
                   ...
388                     unavailable
91                      unavailable
283                     unavailable
475                     unavailable
908                     unavailable
Name: scientific_name, Length: 1000, dtype: object

### Not Muated

In [32]:
# sort descending by default
l = [1,2,3,4,5]
l
pd.Series(l)
ls = pd.Series(l)

In [33]:
ls

0    1
1    2
2    3
3    4
4    5
dtype: int64

### Mutated

In [ ]:
# first, you must create a copy
ls.sor

# since inplace=True mutates the original Series

In [26]:
# mutated