# Manipulating Text data

### Import pandas

In [1]:
import pandas as pd

### Read CSV
In this set of videos we'll use the [Student Performance](https://github.com/cbtn-data-science-ml/python-pandas-for-data-manipulation/tree/main/datasets) dataset from Kaggle.

In [2]:
students = pd.read_csv("StudentsPerformance.csv")
students.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [3]:
students["math score"] = students["math score"].astype(str) + "%"

In [4]:
students["reading score"] = students["reading score"].astype(str) + "%"

In [5]:
students["writing score"] = students["writing score"].astype(str) + "%"

In [6]:
students.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72%,72%,74%
1,female,group C,some college,standard,completed,69%,90%,88%
2,female,group B,master's degree,standard,none,90%,95%,93%
3,male,group A,associate's degree,free/reduced,none,47%,57%,44%
4,male,group C,some college,standard,none,76%,78%,75%

In [7]:
students['gender'] = students['gender'].str.upper()
students['test preparation course'] = students['test preparation course'].str.upper()

In [8]:
students.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,FEMALE,group B,bachelor's degree,standard,NONE,72%,72%,74%
1,FEMALE,group C,some college,standard,COMPLETED,69%,90%,88%
2,FEMALE,group B,master's degree,standard,NONE,90%,95%,93%
3,MALE,group A,associate's degree,free/reduced,NONE,47%,57%,44%
4,MALE,group C,some college,standard,NONE,76%,78%,75%

In [9]:
students['lunch'].apply(len)

0       8
1       8
2       8
3      12
4       8
       ..
995     8
996    12
997    12
998     8
999    12
Name: lunch, Length: 1000, dtype: int64

In [10]:
students["lunch"] = " " + students["lunch"]

In [11]:
students.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,FEMALE,group B,bachelor's degree,standard,NONE,72%,72%,74%
1,FEMALE,group C,some college,standard,COMPLETED,69%,90%,88%
2,FEMALE,group B,master's degree,standard,NONE,90%,95%,93%
3,MALE,group A,associate's degree,free/reduced,NONE,47%,57%,44%
4,MALE,group C,some college,standard,NONE,76%,78%,75%

In [12]:
students['lunch'].apply(len)

0       9
1       9
2       9
3      13
4       9
       ..
995     9
996    13
997    13
998     9
999    13
Name: lunch, Length: 1000, dtype: int64

In [15]:
students.to_csv('out.csv', index=False)