# `.isnull()` and `.notnull()`

### Import pandas

In [8]:
# import pandas
import pandas as pd
from pathlib import Path

### Read CSV

In [9]:

path = Path('C:/Users/alouden01/Documents/python-pandas-for-data-manipulation/starter_files/skill_07_dataframe_null_values/employee.csv')
employees = pd.read_csv(path)
employees

,first_name,last_name,salary,start_date,gender,remote,team
0,Haleigh,Calderhead,334473,5/9/2020,NaN,True,management
1,Coretta,McEvon,637457,3/20/2020,Male,False,engineering
2,Clarette,Tarbett,977749,11/22/2020,Agender,True,engineering
3,Jaime,Gianneschi,253523,9/2/2020,Bigender,False,marketing
4,Ediva,Skelton,325185,2/4/2020,Female,True,marketing
...,...,...,...,...,...,...,...
995,Ysabel,Stollmeyer,649625,10/18/2020,Polygender,False,management
996,Ashby,Threadgold,140806,12/28/2020,Genderfluid,False,management
997,Justino,Asquith,950280,10/26/2020,Genderqueer,False,management
998,Jerald,Penella,862555,9/8/2020,Female,False,engineering
999,Aubrie,Hunt,549364,3/29/2020,Polygender,False,data analytics

In [10]:
mask = employees['gender'].isnull()

### `.isnull()`

In [11]:
employees[mask].head()

   first_name   last_name  salary start_date gender  remote            team
0     Haleigh  Calderhead  334473   5/9/2020    NaN    True      management
7       Sarah     Feather  553617   4/5/2020    NaN    True  data analytics
10       Gray   Ghirigori  972661  5/29/2020    NaN   False       marketing
11    Malissa     Billett  492837   9/1/2020    NaN   False      management
68   Ursuline    Surfleet  631021  8/11/2020    NaN    True  data analytics

In [12]:
# return all of the rows containing null values in the gender column

### `.notnull()`

In [13]:
# return all of the rows without null values in the gender column

In [14]:
# return all of the rows without null values