# DataFrame and Series: shared attributes

### Import Pandas

In [1]:
# Import pandas
import pandas as pd
from pathlib import Path
path = Path('C:/Users/alouden01/Documents/python-pandas-for-data-manipulation/starter_files/skill_06_DataFrame_intro/mls_salaries.csv')

### Read CSV

In [17]:
# DataFrame
mls = pd.read_csv(path)
# Series
a_name: pd.Series = pd.read_csv(path.parent / "animal_names.csv", usecols=["scientific_name"]).squeeze('columns')

### Index attribute

In [18]:
# return DataFrame index attribute
mls.index

RangeIndex(start=0, stop=615, step=1)

In [19]:
# return Series index attribute
a_name.index

RangeIndex(start=0, stop=1000, step=1)

### Values attribute

In [21]:
# return DataFrame values attribute
mls.values

array([['ATL', 'Almiron', 'Miguel', 'M', 1912500.0, 2297000.0],
       ['ATL', 'Ambrose', 'Mikey', 'D', 65625.0, 65625.0],
       ['ATL', 'Asad', 'Yamil', 'M', 150000.0, 150000.0],
       ...,
       ['VAN', 'Waston', 'Kendall', 'D', 350000.0, 368125.0],
       [nan, nan, nan, nan, nan, nan],
       ['VAN', 'Williams', 'Sheanon', 'D', 175000.0, 184000.0]],
      dtype=object)

In [24]:
# return Series values attribute
# a_name.values

### Shape attribute

In [25]:
# return DataFrame shape attribute
mls.shape

(615, 6)

In [26]:
# return Series shape attribute
a_name.shape

(1000,)

### Data types attribute

In [27]:
# return DataFrame dtypes attribute
mls.dtypes

club                        object
last_name                   object
first_name                  object
position                    object
base_salary                float64
guaranteed_compensation    float64
dtype: object

In [28]:
# return Series dtypes attribute
a_name.dtypes

dtype('O')

### Axes attribute

In [31]:
# return DataFrame axes attribute
# note: Series don't have more than one column
mls_axes = mls.axes
print(mls_axes)

[RangeIndex(start=0, stop=615, step=1), Index(['club', 'last_name', 'first_name', 'position', 'base_salary',
       'guaranteed_compensation'],
      dtype='object')]

In [ ]:
# return Series axes attribute

# DataFrame Exclusive Attributes:

### Columns attribute

In [32]:
# return DataFrame columns attribute
mls.columns

Index(['club', 'last_name', 'first_name', 'position', 'base_salary',
       'guaranteed_compensation'],
      dtype='object')

In [ ]:
# return Series columns attribute