# More Split methods

### Import pandas

In [1]:
import pandas as pd
from pathlib import Path
path = Path('C:/Users/alouden01/Documents/python-pandas-for-data-manipulation/starter_files/skill_14_splitting_stripping_text_data/animal_names.csv')

### Read CSV
Let's revisit the `animal_names.csv` and dive deeper into the `split()` string method.

About scientific animal names:
1. The genus name is always written first.
2. The first letter of the genus name is always capitalized.
3. The species name is never capitalized.

In [2]:
a_names = pd.read_csv(path)
a_names.head()

              scientific_name      country
0        Cercatetus concinnus   Azerbaijan
1            Lutra canadensis   Kazakhstan
2              Alopex lagopus        China
3            Macropus eugenii  Philippines
4  Calyptorhynchus magnificus     Cambodia

### Split the genus and species and create new columns

In [10]:
a_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   scientific_name  1000 non-null   object
 1   country          1000 non-null   object
 2   genus            1000 non-null   object
dtypes: object(3)
memory usage: 23.6+ KB

In [14]:
# you don't always need to specify n= number of splits (here we do)
a_names[['genus','species']] = a_names['scientific_name'].str.split(' ', n=1, expand=True)
a_names.head()

              scientific_name      country            genus     species
0        Cercatetus concinnus   Azerbaijan       Cercatetus   concinnus
1            Lutra canadensis   Kazakhstan            Lutra  canadensis
2              Alopex lagopus        China           Alopex     lagopus
3            Macropus eugenii  Philippines         Macropus     eugenii
4  Calyptorhynchus magnificus     Cambodia  Calyptorhynchus  magnificus